body{
    background-color: antiquewhite;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 8px solid transparent;
}

.topnav a:hover {
    border-bottom: 8px solid #cc8a3a;
}

h1 {
  font-size: 50px;
  word-break: break-all;
    text-align: center;
}

.row {
  margin: 8px -16px;
}

.contanier{
    width: 100%;
    height: 100vh;
    display: block;
}

.billede{
    width: 40%;
    float: left;
    display: inline-block;
}

.billede img{
    padding-left: 30%;
    display: inline-block;
    
}

.content1{
    width: 40%;
    float: left;
    display: inline-block;
}

.content1 p{
    padding-left: 20px;
    padding-top: 0px;
    
}

.video{
    width: 60%;
    float: left;
    display: inline-block;
}

.content2{
    width: 40%;
    float: right;
    display: inline-block;
}

.content2 p{
    padding-left: 20px;
    padding-top: 0px;
}

.pris{
    float: left;
    width: 50%;
    display: inline-block;
}


.pris p, h4, h5, h2{
    padding-left: 300px;  
}

.kontakt p{
    padding-left: 0px;
}

.kontakt{
    float: right;
    width: 50%;
    display: inline-block;
}

.mapouter{
    float: left;
}

footer {
    width: 100%;
    height: 20%;
    background-color: #333;
    display: flex;
    margin-top: 40%;
    color: aliceblue;
}

footer p { 
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
}
    
.mapouter{
    text-align:right;
    height:389px;
    width:654px;
}
    
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:389px;
    width:654px;
}


